@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

/* Fondo compartido */
.home-wrapper {
  background: linear-gradient(to bottom, #160f27, #2c5364);
  color: #e2adad;
}

/* Sección principal */
.home-container {
  padding: 80px 20px 60px 20px;
  text-align: center;
}

.profile-image {
  width: 270px;
  height: 270px;
  border-radius: 40%;
  object-fit: cover;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
}

.home-container h1 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: #f8bcbc;
}

.home-container p {
  font-size: 1.4rem;
  font-weight: 300;
  max-width: 900px;
  margin: 0 auto 10px auto;
  line-height: 1.6;
  color: #f3d1d1;
}

/* Contenedor del More */


/* Responsive */
@media (max-width: 768px) {
  .profile-image {
    width: 200px;
    height: 200px;
  }

  .home-container h1 {
    font-size: 2rem;
  }

  .home-container p {
    font-size: 1rem;
  }
}
