.footer {
  background-color: #000;
  color: #fff;
  padding: 2rem 1rem;
  text-align: center;
  margin-top: auto;
}


.footer-text {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 300;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-icons a {
  color: #2d72da;
  font-size: 1.8rem;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ffffff;
}
