/* src/components/More.css */
.more-section {
  padding: 2rem;
  background: transparent;
  color: #921313;
  text-align: center;
  
}

.more-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  justify-content: center;
  align-items: start;
  margin-top: 40px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


.more-title {
  font-size: 2.2rem;
  font-weight: 700;
  color: #2398d6;
  text-align: center;
  padding-left: 2rem;
  margin-bottom: 1.5rem;
}

/* ✅ Corrección para móviles */
@media (max-width: 600px) {
  .more-title {
    padding-left: 1rem;    /* más ajustado en móvil */
    font-size: 1.8rem;      /* opcionalmente más pequeño */
  }
}

@media (min-width: 1024px) {
  .more-grid {
    max-width: 900px;
  }
}